# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env.local
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
README-AUTH-SETUP.md
README-OAUTH-CALLBACK-FIX.md
README-RLS-POLICY-FIX.md
README-SECURITY-ENHANCEMENTS.md
README-SUPABASE-AUTH-FIX.md
README-SUPABASE-CONNECTION-FIX.md
README-UUID-FIX.md
src/db/migrations/google_id_column.sql
src/db/migrations/migrate_oauth_id_to_google_id.sql
src/db/migrations/oauth_id_column.sql
src/db/migrations/simplified_rls_policies.sql
src/db/migrations/toggle_rls_mode.sql
src/db/migrations/user_rls_policy.sql
.gitignore
src/db/README.md
.gitignore
README-VERCEL-DEPLOY.md
.gitignore
README-STORAGE-RLS-FIX.md
src/db/schema/resume-storage-policy.sql
src/db/schema/resume-table.sql
db/migrations/google_id_column.sql
db/migrations/migrate_oauth_id_to_google_id.sql
db/migrations/oauth_id_column.sql
db/migrations/simplified_rls_policies.sql
db/migrations/toggle_rls_mode.sql
db/migrations/user_rls_policy.sql
db/schema/resume-storage-policy.sql
db/schema/resume-table.sql
README-ERROR-BOUNDARIES-AND-LOGGING.md
.env.example
README-CENTRALIZED-ERROR-REPORTING.md
README-RATE-LIMITING.md
README-VERCEL-RATE-LIMITING.md
db/migrations/create_error_reports_table.sql
README-API-CACHING.md
README-COMPREHENSIVE-LOADING-STATES.md
README-HELP-CENTER.md
README-RESUME-FORMAT-COMPATIBILITY.md
README-TESTING.md
__tests__/README-HIGH-PRIORITY-TESTS.md
__tests__/api/resume/README-OPTIMIZE-TESTS.md
README-504-TIMEOUT-FIX.md
README-MOBILE-UI-UX-IMPROVEMENTS.md
